*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;
}


.myflex{
    display:flex; 
    align-items: center;
}
.myflex >*{
    flex:1;
    margin: 10px;
}
#couleur {
    height: 40px;
}